* {
box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 27px;
    background-color: white;
}

.header {
    width: 100%;
    float: left;
    background-color:white;
    
}

.header-left {
    width: 15%;
    font-size: 30px;
    text-align: left;
    padding: 20px 20px;
}

.content {
    width:35%;
    padding: 10px 10px;
    text-align: left;
}